@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Microsoft Sans Serif';
  src: local('Microsoft Sans Serif');
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Microsoft Sans Serif', Arial, Helvetica, sans-serif;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
